table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    table-layout:fixed;
}
th
{
  
  height: 175px;
  font-size: 70px;
}

#s1
{
  background: blue;
}

#s2
{
  background: red;
}

#s3
{
  background: yellow;
}

#s4
{
  background: cyan;
}
